attrs==17.4.0
Automat==0.6.0
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
elasticsearch==6.2.0
falcon==1.4.1
ftfy==4.4.3
gunicorn==19.7.1
html5lib==1.0b8
hug==2.4.0
hug-middleware-cors==1.0.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
kibana-dashboard-api==0.1.2
more-itertools==4.1.0
msgpack-numpy==0.4.1
msgpack-python==0.5.4
murmurhash==0.28.0
numpy==1.14.2
pandas==0.22.0
pathlib==1.0.1
plac==0.9.6
pluggy==0.6.0
preshed==1.0.0
py==1.5.3
pyelasticsearch==1.4.1
pyreadline==2.1
pytest==3.5.0
python-dateutil==2.7.2
python-mimeparse==1.6.0
pytz==2018.3
regex==2017.4.5
requests==2.18.4
scapy==2.4.0
simplejson==3.13.2
six==1.11.0
spacy==2.0.10
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.20.0
Twisted==17.9.0
ujson==1.35
urllib3==1.26.5
waitress==1.1.0
wcwidth==0.1.7
wrapt==1.10.11
zope.interface==4.4.3

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#egg=en_core_web_sm==2.0.0